{%extends 'portemp.html'%}

{%block content%}
<div class="col-sm-12 col-lg-8 col-xl-9">
    <div class="row">
        <div class="col-lg-12">
            <h4 class="fz20 mb30">Approvals</h4>
        </div>
        
        
        <div class="col-lg-12">
            <div class="candidate_job_reivew">
                <div class="table-responsive job_review_table">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Initiator</th>
                                <th scope="col">Date</th>
                                <th scope="col">Change Type</th>
                                <th scope="col">Status</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        {%for approval in approvals%}
                        <tbody>
                            <tr>
                                <th scope="row">{{approval.initiator}}</th>
                                <td>{{approval.date}}</td>
                                <td>{{approval.remark}}</td>
                                <td>Pending</td>
                                <td>
                                    <ul class="view_edit_delete_list">
                                        <li class="list-inline-item"><a href="#" data-toggle="modal" data-target="#{{approval.modal}}" data-placement="top" title="View"><span class="flaticon-eye"></span></a></li>

                                    </ul>
                                </td>
                            </tr>
                            
                        </tbody>
                        {%endfor%}
                        
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{#MODAL#}
{%for approval in approvals%}
<div class="sign_up_modal modal fade" id="{{approval.modal}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
          
          <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <div class="login_form">
                      <form action="#">
                          <div class="heading">
                              <h3 class="text-center">Updates Made</h3>
                              
                          </div>
                          
                           <div class="form-group">
                              <label for="exampleInputPassword1">Initiator</label>
                              <input type="email" readonly class="form-control" id="exampleInputEmail1" value="{{name}}">
                          </div>
                          
                          <div class="form-group">
                            <label for="exampleInputPassword1">Remark</label>
                            <input type="email" readonly class="form-control" id="exampleInputEmail1" value="{{approval.remark}}">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Change Date</label>
                            <input type="email" readonly class="form-control" id="exampleInputEmail1" value="{{approval.date}}">
                        </div>
                        
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Description</label>
                            <textarea readonly class="form-control" id="exampleFormControlTextarea1" rows="5">
                                {{approval.description}}
                            </textarea>
                          </div>
                        

                          <div class="row mt40">
                              <div class="col-lg">
                                  <button type="submit" class="btn btn-block color-white bgc-fb"><i class="flaticon-paper float-left mt5"></i>Check our Products</button>
                              </div>
                              
                          </div>
                          
                          </div>
                      </form>
                  </div>
                </div>
                
          </div>
      </div>
    </div>
</div>
{%endfor%}
{%endblock content%}