{%extends 'portemp.html'%} {%block content%}
<div class="col-sm-12 col-lg-8 col-xl-9">
    <div class="row">
        <div class="col-lg-12">
            <h4 class="fz20 mb30">App Users</h4>
        </div>
        <div class="col-lg-12">
            <div class="candidate_job_reivew style2">
                <div class="table-responsive job_review_table mt0">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Email</th>
                                <th scope="col">WH_Recruit</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {%for app_user in app_users%}
                            <tr>
                                <th scope="row">{{app_user.first_name}}</th>
                                <td>{{app_user.last_name}}</td>
                                <td>{{app_user.phone}}</td>
                                <td>{{app_user.email}}</td>
                                <td>{{app_user.WH_Badge}}</td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{%endblock content%}