{%extends 'portemp.html'%} {%block content%}
<div class="col-lg-8 col-xl-9">
    <div class="row">
        <div class="col-lg-12">
            <h4 class="mb30">Dashboard</h4>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
            <div class="ff_one">
                <div class="icon"><span class="flaticon-resume"></span></div>
                <div class="detais">
                    
                    <div class="media-body">15</div> 
                    <p>Quotes</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
            <div class="ff_one style2">
                <div class="icon"><span class="flaticon-money"></span></div>
                <div class="detais">
                    <div class="media-body">KES {{balance}}</div>
                    <p>Transactions</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
            <div class="ff_one style3">
                <div class="icon"><span class="flaticon-profile"></span></div>
                <div class="detais">
                  {#  <!-- <div class="media-body">{{dash.beneficiaries}}</div> --> #}
                    <div class="media-body">5</div>
                    <p>All Users</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
            <div class="ff_one style4">
                <div class="icon"><span class="flaticon-tag"></span></div>
                <div class="detais">
                    {#<!-- <div class="media-body">{{dash.pendingpol}}</div> -->#}
                    <div class="media-body">15</div>
                    <p>Pending Approvals</p>
                </div>
            </div>
        </div>

        {#</div>
    {%for chart in charts%} {%for chart_obj in chart%}
    <div class="col-xl-10">
        <div class="application_statics">
            <embed type="image/svg+xml" src={{chart_obj|safe}} style='max-width:auto' />
        </div>
    </div>
    {%endfor%} {%endfor%} #}
</div>

{% if context|length > 0 %}
<div class="col-lg-12 col-xl-12">
    <div class="feature_job_list row">
        <div class="col-lg-12 text-center">
            <div class="nav_container">
                <ul class="nav nav-pills" id="pills-tab" role="tablist">
                    <li class="nav-item"><a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">{{first_pol}}</a>
                    </li>
                    {#
                    {%for pol,val in tabs.items() %}
                    <li class="nav-item"><a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-{{pol}}" role="tab" aria-controls="pills-{{pol}}" aria-selected="false">{{pol}}</a>
                    </li>
                    {%endfor%}#}
                </ul>
            </div>
        </div>
        <div class="tab-content col-lg-12" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="col-sm-12 col-lg-12">
                    <div class="fj_post home6">
                        {%for each in context.first%}
                        <embed type="image/svg+xml" src={{each|safe}} style='max-width:auto' /> {#
                        <embed type="image/svg+xml" src={{pie|safe}} style='max-width:auto' />#} {%endfor%}
                    </div>

                </div>
            </div>
            {#
            {%for pol,value in tabs.items() %}
            <div class="tab-pane fade col-lg-12" id="pills-{{pol}}" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="col-sm-12 col-lg-12">
                    <div class="fj_post home6">
                        {%for each in value%}
                        <embed type="image/svg+xml" src={{each|safe}} style='max-width:auto' /> {%endfor%}
                    </div>
                </div>
            </div>
            {%endfor%} #}
        </div>
    </div>
</div>
</div>
{%else%} {########################################################################################################################}
<div class="col-lg-12 col-xl-12">
    <div class="feature_job_list row">
        <div class="col-lg-12 text-center">
            <div class="nav_container">
                <ul class="nav nav-pills" id="pills-tab" role="tablist">
                    <li class="nav-item"><a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Payments</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Journey</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content col-lg-12" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="col-sm-12 col-lg-12">
                    <div class="fj_post home6">
                        <embed type="image/svg+xml" src={{bar|safe}} style='max-width:auto' />
                    </div>

                </div>
            </div>

            <div class="tab-pane fade col-lg-12" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="col-sm-12 col-lg-12">
                    <div class="fj_post home6">
                        <embed type="image/svg+xml" src={{pie|safe}} style='max-width:auto' />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endif%} {%endblock content%}