{%extends 'portemp.html'%} {%block content%}
<div class="col-lg-8 col-xl-9">
    {#Policy Overview Bars#}
    <div class="row">
        <div class="col-lg-12">
            <h4 class="mb30">{{policy.product}}</h4>
            <h5 class="mb30">Policy Number: <a class="text-thm">{{policy.policy_num}}</a></h5>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
            <div class="ff_one">
                <div class="icon"><span class="flaticon-price pl20"></span></div>
                <div class="detais">
                    <div class="media-body">{{policy.premium}}</div>
                    <p>Premium </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
            <div class="ff_one style2">
                <div class="icon"><span class="flaticon-price pl20"></span></div>
                <div class="detais">
                    <div class="media-body">{{policy.total}}</div>
                    <p>Fund Size </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
            <div class="ff_one style3">
                <div class="icon"><span class="flaticon-profile"></span></div>
                <div class="detais">
                    <div class="media-body">{{policy.status}}</div>
                    <p>Policy Status </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
            <div class="ff_one style4">
                <div class="icon"><span class="flaticon-alarm"></span></div>
                <div class="detais">
                    <div class="media-body">{{policy.due}}</div>
                    <p>Next Due Date</p>
                </div>
            </div>
        </div>
    </div>
    {#Beginning of Policy Description #}
    <div class="col-lg-12">
        <div class="my_resume_eduarea">
            <h4 class="title">Linked Riders<small class="float-right"><a class="text-thm" href="{{url_for('policystat')}}">Preview Policy Receipts <span class="flaticon-right-arrow"></span></a></small></h4>

            <div class="content">
                <div class="circle"></div>
                <p class="edu_center">Life & Disability Guard Rider(LDGR) </p>
                <h4 class="edu_stats">Description</h4>
                <p>Pays the sum assured in the event of Death or Permanent Total Disability.
                </p>
                <form class="float-right" action="{{url_for('to_pdf')}}" method="POST">
                    <button type="submit" class="btn btn-primary">Download Policy Receipts</button>
                </form>
            </div>


        </div>
        <div>
            <br>
        </div>
        <div class="my_resume_eduarea">
            <h4 class="title">Policy Statement<small class="float-right"><a class="text-thm" href="{{url_for('policystatactual')}}">Preview Policy Statement <span class="flaticon-right-arrow"></span></a></small></h4>


        </div>
        <div class="my_resume_eduarea">
            <form class="float-right" action="{{url_for('to_pdf_stat')}}" method="POST">
                <button type="submit" class="btn btn-primary">Download Policy Statement</button>
            </form>
        </div>
    </div>
    {# Beginning of Rider Details#}
</div>

{%endblock content%}