{%extends 'portemp.html'%}

{%block content%}
    
<div class="col-lg-8 col-xl-9">
    <div class="row">
        <div class="col-lg-8">
            <h4 class="fz18 mb30">All Services</h4>
        </div>
        <div class="col-lg-4">
            <div class="my_profile_input">
            <a href="{{url_for('add_service_page')}}"> <button class="btn btn-log btn-block btn-dark">Add Service</button></a>					
            </div>
        </div>
    </div>
    
    {%for service in services%}
    <div class="row applyed_job">
        
        <div class="col-sm-12 col-lg-12">
            <div class="fj_post">
                <div class="details">
                    <h5 class="job_chedule text-thm mt0">{{service.service_id}}</h5>
                    <div class="thumb fn-smd">
                        <img class="img-fluid" src="{{url_for('static',filename='images/partners/house.jpg')}}" alt="3.jpg">
                    </div>
                    <h4>{{service.name}}</h4>
                    <span><h5>Category <a class="text-thm" href="#">Domestic </a></h5></span>
                    <p>{{service.description}}
                        <a class="text-thm" href="#">Kshs. 8,000/- </a>  per month or <a class="text-thm" href="#"> Kshs. 96,000/-</a>per annum.</p>
                   <ul class="featurej_post">
                        <li class="list-inline-item"><span class="flaticon-money"></span> <a class="text-thm" href="#">Price: KES <em>{{service.min_price}}</em></a></li>
                        <li class="list-inline-item"><span class="flaticon-location-pin"></span> Country:<a href="#"class="text-thm"><em> Kenya </em></a></li>
                        
                    </ul>
             
                </div>
                <ul class="view_edit_delete_list float-right">
                   <li class="list-inline-item"><a href="{{url_for('service',service_id=service.service_id)}}" data-toggle="tooltip" data-placement="top" title="Review"><span class="flaticon-resume"></span></a></li>
                    
                </ul>
            </div>
        </div>
        
        
    </div>
    {%endfor%}
    
</div>
    


{%endblock%}