<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!-- Hourly job safety alarms (provider check-ins). -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <!-- Required on API 33+ if Play Console declares use of advertising ID (e.g. Firebase Analytics). Omit only if you set declaration to “No” and disable ad ID collection. -->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />


    <application
        android:name=".utils.ConnectHerApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ConnectHer"
        android:usesCleartextTraffic="false"
        tools:replace="android:allowBackup,android:usesCleartextTraffic"
        tools:targetApi="35">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".PasswordChangeActivity"
            android:exported="false" />
        <activity
            android:name=".ConversationsActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ChatActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".SecureProviderDocumentActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".CategoryUsersActivity"
            android:exported="false" />
        <activity
            android:name=".AllServicesActivity"
            android:exported="false" />
        <activity
            android:name=".FullServicesActivity"
            android:exported="false" />
        <activity
            android:name=".ReportProblemActivity"
            android:exported="false" />
        <activity
            android:name=".TermsActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentOptionsActivity"
            android:exported="false" />
        <activity
            android:name=".PaystackNativePaymentActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationsActivity"
            android:exported="false" />
        <activity android:name=".SubscriptionsActivity" android:exported="false" />
        <activity android:name=".PanicActivity" android:exported="false" />
        <activity android:name=".ProviderProfileActivity" android:exported="false" />
        <activity android:name=".ProviderApplicationActivity" android:exported="false" />
        <activity android:name=".ProviderDocumentsActivity" android:exported="false" />
        <activity android:name=".ManageProviderDocumentsActivity" android:exported="false" />
        <activity android:name=".ProviderBookingRequestsActivity" android:exported="false" />
        <activity android:name=".EmergencyContactsActivity" android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ConnectHer.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".OnboardingActivity" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="connecther-d6e1a.firebaseapp.com"
                    android:pathPrefix="/__/auth"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchActivity" />
        <activity android:name=".AboutUsActivity" />
        <activity android:name=".RequestBookingActivity" />
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.ConnectHer.Home" /> <!-- <activity android:name=".BookNowActivity" /> -->
        <!-- <activity android:name=".SearchActivity" /> -->
        <!-- <activity android:name=".HistoryActivity" /> -->
        <!-- <activity android:name=".ProfileActivity" /> -->
        <activity android:name=".BookJobActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_name" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/color4" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <service
            android:name=".services.NotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".util.SafetyCheckinReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.womanglobal.connecther.action.SAFETY_ALARM" />
                <action android:name="com.womanglobal.connecther.action.SAFETY_CONFIRM" />
            </intent-filter>
        </receiver>
    </application>

</manifest>